<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Twitch Social</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script defer src="/js/fontawesome-all.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
</head>
<body>
    <div class="top">
        <div class="pageHeader">
            <h2 style="display: inline-block"><a href="streamers">Twitch Social</a></h2>
        </div>
    </div>
    <div class="main">
        <div class="grid-container1">
            <div class="grid-item1">
                <img src="<%=twitchImage%>" width="<200" height="200"/>
                <h6><%=twitchDisplayName%></h6>
            </div>
        </div>
        <div class="grid-container2">
            <div id="twitchIcon" class="grid-item"><a href="https://www.twitch.tv/<%=twitchName%>" target="_blank"><i class="fab fa-twitch fti"></i></a></div>
            <div class="grid-item"><iframe src="<%=clips[0]%>&autoplay=false" height="320" width="540" frameborder="0" scrolling="false" allowfullscreen="true"></iframe></div>
            <div class="grid-item"><iframe src="<%=clips[1]%>&autoplay=false" height="320" width="540" frameborder="0" scrolling="false" allowfullscreen="true"></iframe></div>
            <div class="grid-item"><iframe src="<%=clips[2]%>&autoplay=false" height="320" width="540" frameborder="0" scrolling="false" allowfullscreen="true"></iframe></div>
            <div id="youtubeIcon" class="grid-item"><a href="https://www.youtube.com/channel/<%=youtubeID%>" target="_blank"><i class="fab fa-youtube fti"></i></a></div>
            <div class="grid-item"><iframe id="ytplayer" type="text/html" width="540" height="320" src="https://www.youtube.com/embed/<%=ytvideos[0]%>?origin=http://localhost:3000/link_stuff" frameborder="0" allowfullscreen></iframe></div>
            <div class="grid-item"><iframe id="ytplayer" type="text/html" width="540" height="320" src="https://www.youtube.com/embed/<%=ytvideos[1]%>?origin=http://localhost:3000/link_stuff" frameborder="0" allowfullscreen></iframe></div>
            <div class="grid-item"><iframe id="ytplayer" type="text/html" width="540" height="320" src="https://www.youtube.com/embed/<%=ytvideos[2]%>?origin=http://localhost:3000/link_stuff" frameborder="0" allowfullscreen></iframe></div>
            <div id="twitterIcon" class="grid-item"><a href="https://twitter.com/<%=handle%>" target="_blank"><i class="fab fa-twitter fti"></i></a></div>
            <div class="grid-item"><%- tweetHTMLs[0] %></div>
            <div class="grid-item"><%- tweetHTMLs[1] %></div>
            <div class="grid-item"><%- tweetHTMLs[2] %></div>
            <div id="redditIcon" class="grid-item"><a href="https://www.reddit.com/r/<%=subreddit%>" target="_blank"><i class="fab fa-reddit fti"></i></a></div>
            <div class="grid-item redditItem"><a href="https://www.reddit.com<%= redditPosts[0].permalink %>" target="_blank">View post</a></div>
            <div class="grid-item redditItem"><a href="https://www.reddit.com<%= redditPosts[1].permalink %>" target="_blank">View post</a></div>
            <div class="grid-item redditItem"><a href="https://www.reddit.com<%= redditPosts[2].permalink %>" target="_blank">View post</a></div>
        </div>
    </div>
    <div class="footer">
        <div class="footerContent">
            <p><small>&copy; Twitch Social all rights reserved.</small></p>
        </div>
    </div>
</body>
</html>